@import "tailwindcss";
#root {
  /* width: 1600px; */
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}